{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Welcome {{ username }} to the P1 app<h2>
    <h3>This is the home page for the P1 app<h3> 
    <table id="home">
      <tr>
        <th>Título de la noticia</th>
        <th>Número de clics</th>
        <th>Número de meneos</th>
        <th>Fecha y hora</th>
      </tr>
      <tr>
        <td>{{ titulo }}</td>
        <td>{{ clics }}</td>
        <td>{{ votos }}</td>
        <td>{{ fecha }}</td>
      </tr>
    </table>
  </div>
{% endblock %}
