{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Login</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form class="form-signin" action="/signin" method="post">
      <label for="inputName" class="sr-only">Username</label>
      <input type="name" name="username" id="inputName" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" onclick = 'this.form.submit();' type="button">Login</button>
    </form>
  </div>
{% endblock %}
